<section class="carousel">
    <div class="carousel slide carousel-fade" data-ride="carousel" id="carouselFade">
        <div class="carousel-inner">
            {% for block in section.blocks %}
                <div class="carousel-item {% if forloop.first %} active {% endif %}">
                    <div class="carousel__image">
                        <img alt="" class="d-block" src="{{block.settings.image | img_url: 'master'}}">
                    </div>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>{{block.settings.title}}</h5>
                    </div>
                </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" data-slide="prev" href="#carouselFade" role="button">
            <span aria-hidden="true" class="carousel-control-prev-icon"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" data-slide="next" href="#carouselFade" role="button">
            <span aria-hidden="true" class="carousel-control-next-icon"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>

{% schema %}

{
    "name": "Image carousel",
    "blocks": [
        {
            "type": "image",
            "name": "Image",
            "settings": [
                {
                    "id": "title",
                    "type": "text",
                    "label": "Image title"
                }, {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Image carousel",
            "category": "Image"
        }
    ]
}

{% endschema %}
