{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available in the "Header" section in the theme editor.

  Theme Store required settings
  - Show announcement
  - Text: message to announce
  - Link: link of the announcement bar

  Theme Store optional settings
  - Home page only: only shows on the home page
{%- endcomment -%}
<section data-section-id="{{ section.id }}" data-section-type="header">
    <header class="header header-dark bg-dark header-sticky">
        {% include 'navbar' %}
    </header>

</section>

{% if section.settings.logo != blank %}
    <style>
    .logo-image {
      display: block;
      max-width: {{ section.settings.logo_max_width }}px;
    }
  </style>
{% endif %}

{% schema %}

{
    "name": "Header",
    "settings": [
        {
            "type": "header",
            "content": "Announcement bar"
        }, {
            "type": "checkbox",
            "id": "announcement_bar_enabled",
            "label": "Show announcement",
            "default": false
        }, {
            "type": "checkbox",
            "id": "announcement_bar_home_page_only",
            "label": "Show on home page only",
            "default": true
        }, {
            "type": "text",
            "id": "announcement_bar_text",
            "label": "Announcement text",
            "default": "Announce something here"
        }, {
            "type": "url",
            "id": "announcement_bar_link",
            "label": "Announcement link",
            "info": "Optional"
        }, {
            "type": "header",
            "content": "Header"
        }, {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo image"
        }, {
            "type": "range",
            "id": "logo_max_width",
            "min": 20,
            "max": 200,
            "step": 10,
            "unit": "px",
            "label": "Custom logo width",
            "default": 50
        }, {
            "type": "link_list",
            "id": "menu",
            "label": "Menu",
            "default": "main-menu"
        }
    ]
}

{% endschema %}

<script type="application/ld+json">


[36mLine: 1[0m
[31m
[0m
[31m
[0m
[31m
[0m
[31m[36mLine: 1[0m
[0m
[31m[31m[36 mLine : 1 [[0m
[0m
[31m[31m        0 m [[0m
[0m
[31m[31m            31 m[[0m
[0m

</script>

{% if template.name == 'index' %}
    <script type="application/ld+json">


[36mLine: 1[0m
[31m
[0m
[31m
[0m
[31m
[0m
[31m[36mLine: 1[0m
[0m
[31m[31m[36 mLine : 1 [[0m
[0m
[31m[31m        0 m [[0m
[0m
[31m[31m            31 m[[0m
[0m

</script>
{% endif %}
