.carousel {
  overflow: hidden;
  &__image {
    background-image: linear-gradient(rgba($color-black, 0.75), rgba($color-black, 0.75));
    background-size: cover;
    transform: scale(1.1);
    // height: 100vh;
    img {
      width: 100%;
    }
  }
  &-inner {
  }

  &-item {
    height: 100vh;
    &.active .carousel__image {
      transform: scale(1);
      transition: transform 10s;
    }
  }
}

@keyframes imageZoom {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
