.carousel {
  overflow: hidden;
  &__image {
    transform: scale(1.1);
    height: 100%;
  }

  &-inner {
  }

  &-item {
    height: 100vh;
    &.active .carousel__image {
      transform: scale(1);
      transition: transform 10s;
    }
  }
}
